{% extends "base.html" %}
{% block content %}
<title> Hotel Payment </title>
<main>
<div class = "container">
<p><h4 class ="center-align">Hotel Summary: </h4><p>
<p>
<table class= "highlight">
        <thead>
          <tr>
             <th>Hotel Name</th>
             <th>Location</i></th>
             <th>No. of Rooms Booking </i></th>
             <th>Total amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>

            <td>
              <div class="row">
              <div class = "col s2">
                {{ hotel.hotelName }}
              </div>
            </td>
            <td>
              <div class = "col s2">

                   {{ hotel.location }}
              </div>
            </td>
            <td>
              <div class = "col s1">

                      {{ n }}
              </div>
            </td>
            <td>
              <div class = "col s1">
                {{ total }}
              </div>
            </td>


        </div>
        </tr>
      <tbody>
    </table>
<div class = "container center-align">
  <div class="section">
    <a class="waves-effect waves-light btn-small" href= "{% url 'hotel_payment' hotel.id n %}">Pay</a>
  </div>
</div>
</main>
{% endblock content %}
