{% extends "base.html" %}
{% block content %}
<title> Flight Booking </title>
<main>

<div class = "container">
<p><h4 class="center-align">Flight Summary: </h5><p>
<p>
<nav class="white">
  <div class="nav-wrapper center-align">

    <ul id="nav-mobile" class="hide-on-med-and-down" class= "tabs center">
      <li>.........................</li>
        <li><a><img src= '{{flight.Logo}}'' class= "circle" height= '60' width= '55'></a></li>
      <li><a class="waves-effect waves-light btn">{{ flight.companyName }}</a></li>
      <li><a class="waves-effect waves-light btn">From {{ flight.sourceLocation }}</a></li>
      <li><a class="waves-effect waves-light btn">To {{ flight.destinationLocation }}</a></li>
      <li><a class="waves-effect waves-light btn">{{ flight.departureDate}}</a></li>
      <li><a class="waves-effect waves-light btn">{{flight.departureTime}}</a></li>
    </ul>
</div>
</nav>
</p>
<h5> <font color="white"> ...........................</font> No. of Tickets Booking: {{ n }} </h5>
</div>

<div class = "container">
  <div class="section">
    <form method="post">{% csrf_token %}
        {% for i in r %}
            <div class="section">
                Passenger Detail
                {% for field in form %}
                    <div class= "row">
                        {{field.label_tag}} {{field}}
                    </div>
                {% endfor %}
                {% comment %} {% for field in form %}
                    <p>
                        {% for error in field.errors %}
                        <p style="color: red">{{error}}</p>
                        {% endfor %}
                    </p>
                {% endfor %} {% endcomment %}
            </div>
        {% endfor %}
        <div class="row">
            <button  class="btn waves-effect waves-light" type="submit" > Continue <i class="material-icons right">send</i></button>
        </div>
    </form>
</div>
</main>
{% endblock content %}
