{% extends "base.html" %}
{% block content %}
<title> Flight Payment </title>
<main>
<div class = "container">
    <nav class="white">
  <div class="nav-wrapper center-align">

    <ul id="nav-mobile" class="hide-on-med-and-down" class= "tabs center">
      <li>...........................................................</li>
        <li><a><img src='{{flight.Logo}}' class= "circle" height= '55' width= '55'></a></li>
      <li><a class="waves-effect waves-light btn">Flight ID: {{ flight }}</a></li>
      <li><a class="waves-effect waves-light btn">Number of Seats: {{ n }}</a></li>

    </ul>
</div>
</nav>
 <br>
  <div class="section">
    <p><h5 class="center-align">Your payment has been successful for the {{ flight.sourceLocation }} to {{ flight.destinationLocation }} flight  scheduled on {{ flight.departureDate}} at {{flight.departureTime}} </h5><p>
    <p><h6 class="center-align">Continue Travelling !!! Go to <a class="waves-effect waves-light btn" type="submit" href= "{% url 'home' %}">Home</a> page </h6></p>
  </div>
</div>
<br>
<br>
<div class = "container">
    <div class="section">
        <p> <h6 class="center-align">In case of any queries, contact us. </h6> </p>
    </div>
</main>
{% endblock content %}
